#head {
	width: 100%;
	text-align: center;
	background: black;
	color: white;
}

#container {
	border-bottom: 2px solid black;
}

app-row {
	width: 100%;
	text-align: center;
}

.header {
	width: 33%;
	display: inline-block;
	font-weight: bold;
	font-size: 25pt;
}
